@charset "ISO-8859-1";

body{
	background-color: black;
	color: white;
	font-family: fantasy;
	font-size: 20px;
}
h1,h2,h3,h4,h5,h6{
	color: red;
	padding: 3px;
}
div.heading{
	border: 5px solid white;
	margin: 10px;
}
th{
	border: 5px solid white;
	color: red;
	padding: 10px;
}
p{
	border: 5px solid red;
	padding: 10px;
	margin: 100px;
}
div.nav{
	position: fixed;
	top: 90%;
	width: 90%;

}