@charset "ISO-8859-1";

body{
	background-color: black;
	color: white;
	font-family: fantasy;
}
h1,h2,h3,h4,h5,h6{
	color: red;
	padding: 3px;
}
div.heading{
	border: 5px solid white;
	margin: 10px;
}
table{
	border: 5px solid white;
	color: red;
}